<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>CovoiturageWeb</display-name>
  <welcome-file-list>
    <welcome-file>controller</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>    
  </welcome-file-list>

  <servlet> 
  <servlet-name> TrajetController </servlet-name>
    <servlet-class> Servlets.TrajetController </servlet-class>
  
  </servlet>
  <servlet-mapping> 
    <servlet-name> TrajetController </servlet-name>
  <url-pattern> /trajet</url-pattern>
</servlet-mapping>


<servlet> 
  <servlet-name> ReservationController </servlet-name>
    <servlet-class> Servlets.ReservationController  </servlet-class>
  
  </servlet>
  <servlet-mapping> 
    <servlet-name>  ReservationController  </servlet-name>
  <url-pattern> /reservation</url-pattern>
</servlet-mapping>



  <servlet>
  
  
  
    <servlet-name>DeconnexionController</servlet-name>
    <servlet-class>Servlets.DeconnexionController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VoitureController</servlet-name>
    <servlet-class>Servlets.VoitureController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConnexionController</servlet-name>
    <servlet-class>Servlets.ConnexionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnexionController</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VoitureController</servlet-name>
    <url-pattern>/voiture</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeconnexionController</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
</web-app>